body {
  font-size: 0.875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */
.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #059B97;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-header {
  margin-top: 50%;
  padding: 20px;
  text-align: center;
}

.sidebar-content {
  margin-top: 20px 0px;
  transition: all 400 ms ease;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.sidebar-content a {
  position: relative;
  color: #fff;
  text-align: center;
  list-style: none;
  line-height: 50px;
  background-color: #059B97;
}

.sidebar-content a span {
  color: #fff;
  display: flex;
  align-items: center;
}

.sidebar-content a span:hover {
  color: #fff;
  background: #c64890;
}

.sidebar-content a span i {
  height: 100%;
  min-width: 50px;
  line-height: 12px;
  text-align: center;
}

.logo {
  margin: 0 auto;
  display: block;
}

.labelsider {
  /* Subtitle / Subtitle 1 */
  display: flex;
  position: fixed;
  display: inline-block;
}

/*
   * Navbar
   */
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
