@page {
    margin: 0cm 0cm;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 27%;
    margin-bottom: 15%;
    width: 80%;
}

h1 {
    color: #bd3284;
    margin: 0;
    text-align: left;
    margin-top: 105px;
    margin-left: 70px;
}



#titulo {
    font-size: 20px;
}

#subtitulo {
    font-size: 18px;
}

header{
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1cm; 
    background-color: #059b97;
} 

footer{
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    background-color: #059b97;
}

.container{
    height: 200px;
}
.container img{
    margin-top: 60px;
    margin-right: 50px;
    float: right
}

